img {
  width: 100%;
  height: 100%;
}
div {
  position: relative;
}
.text_on_img {
  font-family: "Trirong";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
